#fbanner{
  width: 100%;
  height: 150px;
  background-color:rgb(100,180,255);
}
#sbanner{
  width: 100%;
  height: 30px;
  background-color: #E1DDDD;
  text-align: center;
}
#win{
  display: inline-block;
  width: 20%;
}
.selected{
  background-color: #67B5FC;
  color:white;
}
h2{
  text-align: center;
  color:white;
  line-height: 1.1;
  margin: 0;
  padding: 5px 0;
}
#colorPicked{
  font-size: 180%;
}
body{
  background-color: rgb(5,5,10);
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
 .square{
   width: 25%;
   background-color: orange;
   padding-bottom: 25%;
   float: left;
   margin: 1.66%;
   margin-top: 70px;
   border-radius: 20px;
   transition: background 0.5s;
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
 }
#container{
  margin: 20px auto;
  max-width: 600px;
}
button{
  border: none;
  background: none;
  text-transform: uppercase;
  height:100%;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: ALL 0.4s;
  -webkit-transition: ALL 0.4s;
  -moz-transition: ALL 0.4s;
  outline: none;
}
button:hover{
  color: white;
  background: steelblue;
}
